<!DOCTYPE html>
<html lang="en" data-ng-app="hmhApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/common/css")

    @RenderSection("header", false)
</head>
<body>
    @Html.Partial("_SiteTopNav")
    @Html.Partial("_PageHeader")
    @Html.Partial("_SiteMainNav")

    <div class="container marg-top-35">
        <div class="row">
            <div class="col-xs-2">
                @Html.Partial("_ShopCenterMenu")
            </div>
            <div class="col-xs-10">
                @RenderBody()
            </div>
        </div>
    </div>


    @Html.Partial("_PageFooter")

    @RenderSection("footer", false)


    @Scripts.Render("~/hmh")

    @RenderSection("scripts", false)

</body>
</html>